name: Build

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: linz/action-typescript@v3
        with:
          package-manager: yarn
          node-version: 24.x
      - uses: blacha/hyperfine-action@v1
