name: Build

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5

      - run: npm ci
      - run: npm run build
      - run: npm run check
      - run: npm run test

      - uses: blacha/hyperfine-action@v1
